.settings-container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0.5rem 2rem 0.5rem;
}

.sidebar button {
  color: inherit;
  background: transparent;
  height: 60px;
  font-family: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar_header {
  width: 100%;
  margin-bottom: 2.9rem;
}

.sidebar_header p {
  height: 5.1vh;
  font-size: var(--step-0);
  font-weight: 600;
  margin-left: 0.9rem;
}

.sidebar_header i {
  width: 51px;
  height: 15px;
  font-size: var(--step-0);
  text-align: center;
  display: none;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.sidebar > nav button:last-child {
  margin-top: auto;
}

.sidebar button > span {
  display: flex;
  align-items: center;
  grid-gap: 0.9rem;
  height: 6.8vh;
  border-radius: 1.8rem;
  padding: 0 0.9rem;
  line-height: 1;
}

.sidebar button:hover > span {
  background: #f2f2f2;
}

@media (width < 580px) {
  .sidebar_header p {
    display: none;
  }

  .sidebar_header i {
    display: block;
  }

  .sidebar {
    width: 73px;
  }

  .sidebar button > span > span {
    opacity: 0;
    visibility: hidden;
  }
}

.sidebar button i {
  position: relative;
  font-size: var(--step-0);
}

.sidebar button img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: 0.2s;
}

.sidebar button > span > i span {
  position: absolute;
  top: -6px;
  right: -12px;
  height: 20px;
  display: grid;
  place-items: center;
  color: #f9f9f9;
  background: #ff2f40;
  font-family: BlinkMacSystemFont;
  font-style: normal;
  font-size: 0.6rem;
  padding: 0 5px;
}

.sidebar button > span > i em {
  position: absolute;
  top: 1px;
  right: -2px;
  width: 9px;
  height: 9px;
  background: #ff2f40;
  border-radius: 50%;
}

.sidebar button > span {
  font-size: var(--step--1);
  font-weight: 400;
}
