.word {
    margin: auto;
    color: #e8615a;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;

  }
  #loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }